//- common website layout
doctype html
html
  head
    link(href='/css/main.css', rel='stylesheet', type='text/css')
    title AscII Land
  body
    block main
    script(src='/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-1.11.1.js')
    script(src='/js/main.js')
