* {
  margin: 0;
  padding: 0;
  color: #777;
}

body {
  font-family: "monospace";
  background-color: #111;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,h2 {
  text-align: center;
  margin: 30px;
}

table {
  margin: 60px auto;
}

table td {
  line-height: 0.85;
  font-size: 23px;
}